<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initialscale=1,shrink-to-fit=no">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" integrity="" crossorigin="">
<link href="assets/css/miestilo.css" rel="stylesheet" >
<title>Home</title>
</head>
<body>
<script src="assts/js/bootstrap.bundle.min.js" integrity="" crossorigin="" ></script>

<ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>


</body>
</html>